.shop-logos{
    width: 60%;
    padding: 50px 0px 50px 0px;
    gap: 35px;
}

.shop-logos div{
    display: flex;
    justify-content: center;
    width: 153px;
    align-items: center;
    margin: auto;
}

