.mobile-nav{
    display: none;
}

.main-nav{
    height: 58px;
    padding: 0px 17px 0px 38px;
    margin: auto;
    width: 80vw
}

.logo h3{
    padding: 13px 125px 13px 0px;
    font-family: Montserrat, sans-serif;;
    font-size: 24px;
    font-weight: 700;
    color: #252B42;
}

.nav-section{
    width: 100%;
}

.main-nav li{
    gap: 15px;
}

.main-nav ul{
    text-decoration: none;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    color: #737373;
}

.dropdown-nav{
    font-size: 14px;
    font-weight: 500;
    color: #252B42;
    margin-right: 5px;
}

.nav-right{
    width: 1155px;
}

.nav-right-alt{
    width: 815px;
}


.profile{
    font-size: 14px;
    font-weight: 700;
    color: #23A6F0; 
    padding-right: 15px;
    gap:5px   
}


.nav-ul{
    display: flex;
    gap: 5px;
    margin: auto;
}

.nav-ul p{
    color: #23A6F0;
}


/* MOBILE NAV */

@media only screen and (max-width:867px) {
    #main-nav{
        display: none;
    }

    .mobile-nav{
        width: 100vw;
        display: grid;
    }

    .mobile-nav1{
        width: 80%;
    }

    .mobile-nav1-1{
        padding: 13px 79px 13px 0px;
    }

    .mobile-logo{
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.10000000149011612px;
        text-align: left;
    }

    .mobile-nav1-2{
        gap: 15px;
    }

    .mobile-nav1-2 img{
        width: 24px;
        height: 24px;  
        cursor: pointer;      
    }

    .nav-lists{
        width: fit-content;
        height: fit-content;
        padding: 50px 0;
    }

    .nav-lists ul{
        gap: 30px;
        padding: 0;
        list-style: none;
        text-transform: capitalize;
        text-align: center;
        font-size: 30px;
        font-weight: 400;
    }

    .nav-lists2{
        margin-bottom: 30px;
    }

    .nav-lists3 img{
        width: 34px;
        height: 24px;
    }

    li{
        cursor: pointer;
    }

}

